<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Werskstatt{% endblock %}</title>
        
        {% block stylesheets %}
		<style>
		    body { background: #F5F5F5; font: 18px/1.5 sans-serif; }
		    h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
		    h1 { font-size: 36px; }
		    h2 { font-size: 21px; margin-bottom: 1em; }
		    p { margin: 0 0 1em 0; }
		    a { color: #0000F0; }
		    a:hover { text-decoration: none; }
		    code { background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word; }
		    #wrapper { background: #FFF; margin: 1em auto; max-width: 800px; width: 95%; }
		    #container { padding: 2em; }
		    #welcome, #status { margin-bottom: 2em; }
		    #welcome h1 span { display: block; font-size: 75%; }
		    #icon-status, #icon-book { float: left; height: 64px; margin-right: 1em; margin-top: -4px; width: 64px; }
		    #icon-book { display: none; }
		    div > label, div > input {margin: 5px 5px 5px 0}
		    
		    .datagrid table { border-collapse: collapse; text-align: left; width: 100%; } .datagrid {font: normal 12px/150% Arial, Helvetica, sans-serif; background: #fff; overflow: hidden; border: 1px solid #006699; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }.datagrid table td, .datagrid table th { padding: 3px 10px; }.datagrid table thead th {background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F) );background:-moz-linear-gradient( center top, #006699 5%, #00557F 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');background-color:#006699; color:#ffffff; font-size: 15px; font-weight: bold; border-left: 1px solid #0070A8; } .datagrid table thead th:first-child { border: none; }.datagrid table tbody td { color: #00496B; border-left: 1px solid #E1EEF4;font-size: 12px;font-weight: normal; }.datagrid table tbody .alt td { background: #E1EEF4; color: #00496B; }.datagrid table tbody td:first-child { border-left: none; }.datagrid table tbody tr:last-child td { border-bottom: none; }.datagrid table tfoot td div { border-top: 1px solid #006699;background: #E1EEF4;} .datagrid table tfoot td { padding: 0; font-size: 12px } .datagrid table tfoot td div{ padding: 2px; }.datagrid table tfoot td ul { margin: 0; padding:0; list-style: none; text-align: right; }.datagrid table tfoot  li { display: inline; }.datagrid table tfoot li a { text-decoration: none; display: inline-block;  padding: 2px 8px; margin: 1px;color: #FFFFFF;border: 1px solid #006699;-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F) );background:-moz-linear-gradient( center top, #006699 5%, #00557F 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');background-color:#006699; }.datagrid table tfoot ul.active, .datagrid table tfoot ul a:hover { text-decoration: none;border-color: #006699; color: #FFFFFF; background: none; background-color:#00557F;}div.dhtmlx_window_active, div.dhx_modal_cover_dv { position: fixed !important; }
		    
		    .flash-notice {border: 1px solid; margin: 10px 0px; padding:15px 10px 15px 50px; color: #4F8A10; background-color: #DFF2BF;}
		
		    @media (min-width: 768px) {
		        #wrapper { width: 80%; margin: 2em auto; }
		        #icon-book { display: inline-block; }
		        #status a, #next a { display: block; }
		
		        @-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
		        @keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
		        .sf-toolbar { opacity: 0; -webkit-animation: fade-in 1s .2s forwards; animation: fade-in 1s .2s forwards;}
		    }
		</style>
		{% endblock %}
		
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <script type="text/javascript" src="{{ asset('bundles/app/js/jquery-2.2.2.min.js') }}"></script>
    </head>
    <body>
    	
    	<div id="header">
         
            <nav id="main nav">
                <ul class="nav nav-pills">
                	<li><a href="{{ path('werkstatt_import') }}">Daten importieren</a></li>
                    <li><a href="{{ path('werkstatt_index') }}">Liste der Werkstätten</a></li>
                    <li><a href="{{ path('werkstatt_new') }}">Neue Werkstatt</a></li>
                </ul>
            </nav>
            
        </div>
        
        {% for flash_message in app.session.flashbag.get('notice') %}
		    <div class="flash-notice">
		        {{ flash_message }}
		    </div>
		{% endfor %}
        
        {% block body %}{% endblock %}
        
        <script>        
        	$(document).ready(function(){
        		var form=$("form.new-item");		
			    form.submit(function(ev){
			    	var result = false;
			        $.ajax({
			        	type:"POST",
			        	dataType: "json",
			            url: "{{ path('werkstatt_check') }}",
			            data:form.serialize(),
			            async: false, 
			            success: function(response){
				            if (response.status == true) {
				            	if (response.duplikat == true) {
				            		if (confirm(response.message) == true) {
								        result = true;
								    } else {
								        result = false;
								        ev.preventDefault();
								    }
				            	} else {
				            		result = true;
				            	}
				            } 
				        }
			        });
			        
			        return result;
			    });
			});
		</script>
		
        {% block javascripts %}{% endblock %}

    </body>
</html>
