{% extends 'base.html.twig' %}

{% block body %}
    <h1>Daten importieren</h1>

    {{ form_start(form, { 'attr': {'class': 'csv-import' } }) }}
        {{ form_widget(form) }}
        <button type="submit" class="csv-import">Importieren</button>
    {{ form_end(form) }}

{% endblock %}