{% extends 'base.html.twig' %}

{% block body %}
    <h1>Werkstatt edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Bearbeiten" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('werkstatt_index') }}">Zurück zur Liste</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Löschen">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
