{% extends 'base.html.twig' %}

{% block body %}
    <h1>Werkstätten</h1>

	<div class="datagrid" >
	    <table>
	        <thead>
	            <tr>
	                <th>Id</th>
	                <th>Namebesitzer</th>
	                <th>Vornamebesitzer</th>
	                <th>Email</th>
	                <th>Strasse</th>
	                <th>Hausnummer</th>
	                <th>Adresszusatz</th>
	                <th>Plz</th>
	                <th>Ort</th>
	                <th>Land</th>
	                <th>Actions</th>
	            </tr>
	        </thead>
	        <tbody>
	        {% for werkstatt in werkstatts %}
	            <tr>
	                <td><a href="{{ path('werkstatt_show', { 'id': werkstatt.id }) }}">{{ werkstatt.id }}</a></td>
	                <td>{{ werkstatt.nameBesitzer }}</td>
	                <td>{{ werkstatt.vornameBesitzer }}</td>
	                <td>{{ werkstatt.email }}</td>
	                <td>{{ werkstatt.strasse }}</td>
	                <td>{{ werkstatt.hausnummer }}</td>
	                <td>{{ werkstatt.adresszusatz }}</td>
	                <td>{{ werkstatt.plz }}</td>
	                <td>{{ werkstatt.ort }}</td>
	                <td>{{ werkstatt.land }}</td>
	                <td>
	                    <ul>
	                        <li>
	                            <a href="{{ path('werkstatt_show', { 'id': werkstatt.id }) }}">Anzeigen</a>
	                        </li>
	                        <li>
	                            <a href="{{ path('werkstatt_edit', { 'id': werkstatt.id }) }}">Bearbeiten</a>
	                        </li>
	                    </ul>
	                </td>
	            </tr>
	        {% endfor %}
	        </tbody>
	    </table>
    </div>

    <ul>
        <li>
            <a href="{{ path('werkstatt_new') }}">Neu erstellen</a>
        </li>
    </ul>
{% endblock %}