{% extends 'base.html.twig' %}

{% block body %}
    <h1>Neue Werkstatt</h1>

    {{ form_start(form, { 'attr': {'class': 'new-item' } }) }}
        {{ form_widget(form) }}
        <button type="submit" class="addWorkshop">Sparen</button>
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('werkstatt_index') }}">Zurück zur Liste</a>
        </li>
    </ul>
{% endblock %}
