{% extends 'base.html.twig' %}

{% block body %}
    <h1>Werkstatt</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ werkstatt.id }}</td>
            </tr>
            <tr>
                <th>Namebesitzer</th>
                <td>{{ werkstatt.nameBesitzer }}</td>
            </tr>
            <tr>
                <th>Vornamebesitzer</th>
                <td>{{ werkstatt.vornameBesitzer }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ werkstatt.email }}</td>
            </tr>
            <tr>
                <th>Strasse</th>
                <td>{{ werkstatt.strasse }}</td>
            </tr>
            <tr>
                <th>Hausnummer</th>
                <td>{{ werkstatt.hausnummer }}</td>
            </tr>
            <tr>
                <th>Adresszusatz</th>
                <td>{{ werkstatt.adresszusatz }}</td>
            </tr>
            <tr>
                <th>Plz</th>
                <td>{{ werkstatt.plz }}</td>
            </tr>
            <tr>
                <th>Ort</th>
                <td>{{ werkstatt.ort }}</td>
            </tr>
            <tr>
                <th>Land</th>
                <td>{{ werkstatt.land }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('werkstatt_index') }}">Zurück zur Liste</a>
        </li>
        <li>
            <a href="{{ path('werkstatt_edit', { 'id': werkstatt.id }) }}">Bearbeiten</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Löschen">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
